.sidebar {
    height: calc(100vh - 58px);
    padding: 20px 10px;
    list-style: none;
    background-color: var(--sidebar-color-100);

    position: sticky;
    top: 57px;
}

li {
    font-size: 15px;
    padding: 10px 10px;
}